html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  background-color: #f3f5f7;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}